<!DOCTYPE html>
<%- include('../partiels/header.ejs') %> 
<body>
   <%- include('../partiels/nav.ejs') %> 
         <div class="not-found content">
            <h1>OOPS, page not found</h1>
         </div>
         <%- include('../partiels/footer.ejs') %> 
  
</body>
</html>