<!DOCTYPE html>
<html lang="en">
    <%- include('../partiels/header.ejs') %> 
<body>
    <%- include('../partiels/nav.ejs') %> 
    <div class="create content">
        <form action="">
            <table>
                <tr>
                    <td><label for="">Author</label></td>
                    <td><input type="text"></td>
                </tr>
                <tr>
                    <td><label for="">Title</label></td>
                    <td><input type="text"></td>
                </tr>
                <tr>
                    <td><label for="">Body</label></td>
                    <td><textarea name="" id="" cols="30" rows="10"></textarea></td>
                </tr>
            </table>
        </form>
    </div>   
    <%- include('../partiels/footer.ejs') %> 

</body>
</html>